.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 40px;
}

.movie-options button {
    background-color: transparent;
    color: #285f00;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.movie-options button:hover {
    background-color: #30ad2b;
}

.movie-options button.active {
    background-color: #25679e;
}

.search-info {
    color: #5f656a;
    margin: 10px;
    font-style: italic;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input[type="text"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 300px;
}

.search button {
    padding: 12px 18px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #397d53;
}

.fa-search {
    margin-right: 10px;
}